.main-tables-container{
    display: flex;
    width: 930px;
    margin: 0 auto;
}
.product-cards--container{
    display: flex;
    flex-wrap: wrap;/*para que no pase un overflow hay que pornees esta linea*/
    width: 930px;
    justify-content: center; 
    margin: auto;
    
}
.plans-container--slider{
    justify-content: center;
}